
/**
 * FIGMA DO PROJETO:
 * https://www.figma.com/file/dRdkkewTSz9Xu1TXoQkW0u/Portfolio---Curso-1?type=design&node-id=0-1&mode=design&t=5qBL2uEfaekXPcGb-0
 */

 :root {
	--fonte-prinicpal:'Krona One', sans-serif;
	--fonte-secundaria: 'Montserrat', sans-serif;
	--cor-princial:  #22D4FD;
	--background: black;
  }



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: var(--fonte-prinicpal);
	background-color: var(--background);
}
header{
	max-width: 1150px;
	margin: 0 auto;
	padding: 20px;
}

nav{
	display: flex;
	gap: 30px;
}

nav > a {
	color: var(--cor-princial);
	text-decoration: none;
}

nav > a:hover{
	opacity: 0.7;
}

main{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1px;
	margin-top: 1px;
}


section{
   max-width: 615px;
   min-height: 482px;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   justify-content: center;
   gap:20px;
   margin: 20px;
  
}

h1{
	color: #F6F6F6;
	text-align: start;
	font-size: 28px;
	font-weight: 400;
	line-height: 30px;
}

strong{
	color: var(--cor-princial);
	font-size: 28px;
	font-weight: 400;
	line-height: 30px;	
}

p{ 
	font-family: var(--fonte-secundaria);
	color: #F6F6F6;
	text-align: justify;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}

.btns {
	min-width: 300px;
	max-width: 700px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	gap:10px;
	
}

.btns a{
	font-family:var(--fonte-secundaria);
	display: flex;
	gap:5px;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 70px;
	padding: 16px;
	border-radius: 16px;
	border: solid 2px #22D4FD;
	color: whitesmoke;
    background-color: var(--background);
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;

}
ion-icon{
	color: var(--cor-princial);
}

.btns a:hover{
	opacity: 0.7;
}

.perfil{
	display: block;
	max-width: 467px;
	max-height: 532px;
	margin: 20px;
}
img{
	width: 100%;
}

footer{
	padding: 20px;
	background-color: var(--cor-princial);
	text-align: center;
}

footer p {
	color: #000000;
	text-align: center;
}